@model Model.Alumno
@{
    ViewBag.Title = (Model.Id > 0 ? Model.Nombre + " " + Model.Apellido : "Nuevo registro");
}

<ol class="breadcrumb">
    <li class="breadcrumb-item "><a href="~/">Alumnos</a></li>
    <li class="breadcrumb-item active">@(Model.Id > 0 ? Model.Nombre + " " + Model.Apellido : "Nuevo registro")</li>
</ol>


        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#informacion">Informacion</a></li>

            @if (Model.Id > 0)
            {
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#curso">Cursos</a></li>
            }
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="informacion" class="container tab-pane active">

                @using (Html.BeginForm("Guardar", "Home", FormMethod.Post, new { id = "frm-alumno" }))
            {
                    @Html.HiddenFor(x => x.Id)
                    <div class="card">
                        <div class="card-header">Informacion Personal</div>
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Nombre)
                                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "label label-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Apellido)
                                @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Apellido, null, new { @class = "label label-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.sexo)
                                <select name="sexo" class="form-control">
                                    <option @(Model.sexo == 1 ? "selected" : "") value="1">Hombre</option>
                                    <option @(Model.sexo == 2 ? "selected" : "") value="2">Mujer</option>
                                </select>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Fecha_Nacimiento)
                                @Html.TextBoxFor(x => x.Fecha_Nacimiento, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Fecha_Nacimiento, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" data-ajax="true" data-confirm="Esta seguro de guardar este regustro?">Guardar</button>
                    </div>
                }
            </div>


            @if (Model.Id > 0)
            {
                <div id="curso" class="container tab-pane fade">

                </div>
            }

        </div>



<script>
    $(document).ready(function () {
        @if (Model.Id > 0)
        {
            <Text>
                CargarCursos();
            </Text>
        }
    })
    function CargarCursos() {
        $('#curso').load('@Url.Content("~/home/cursos/?Alumno_id="+ Model.Id)');

    }

</script>
<!--
    <script>
    $(document).ready(function () {
        $("#frm-alumno").submit(function () {
            var form = $(this);
            $.ajax({
                dataType: 'JSON',
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function (r) {
                    if (r.response) {
                        window.location.href = r.href;
                    } else {
                        alert(r.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus + ' ' + errorThrown);
                }
            });
            return false;
        })
    })

</script>
    -->
