@model Model.AlumnoCurso
@{
    List<Model.Curso> cursos = ViewBag.Cursos;
    List<Model.AlumnoCurso> CursosElegidos = ViewBag.CursosElegidos;
}

@if (cursos.Count > 0)
{
    using (Html.BeginForm("GuardarCurso", "Home", FormMethod.Post, new { id = "frm-curso" }))
    {
        @Html.HiddenFor(x => x.Aumno_Id)
        <div class="card">
            <div class="card-header">Inscripcion de Cursos</div>
            <div class="card-body">
                <div class="form-group">
                    <select name="Curso_Id" class="form-control">
                        @foreach (var c in cursos)
                    {
                            <option value="@c.Id">@c.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Nota)
                    @Html.TextBoxFor(x => x.Nota, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nota, null, new { @class = "label label-danger" })
                </div>

            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-ajax="true" data-confirm="Esta seguro de asignar este curso al alumno?">Guardar</button>
        </div>
    }

}



<hr />
<!-- Cursos Elegidos -->
<ul class="list-group">
    @foreach (var c in CursosElegidos)
    {
        <li class="list-group-item">
            @c.Curso.Nombre <span class="badge badge badge-info float-right">@c.Nota</span>
        </li>
    }

</ul>

<script>
    $(document).ready(function () {
        $.validator.unobtrosive.parse("#frm-curso");
    })

</script>