@model Model.Alumno
@{
    ViewBag.Title = Model.Nombre + " " + Model.Apellido;
}

<ol class="breadcrumb">
    <li class="breadcrumb-item "><a href="~/">Alumnos</a></li>
    <li class="breadcrumb-item active">@(Model.Nombre + " " + Model.Apellido)</li>
</ol>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Informacion Personal</div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd>@Model.Nombre</dd>
                    <dt>Apellido</dt>
                    <dd>@Model.Apellido</dd>
                    <dt>Sexo</dt>
                    <dd>@(Model.sexo == 1 ? "Hombre" : "Mujer")</dd>
                    <dt>Nacimiento</dt>
                    <dd>@Model.Fecha_Nacimiento</dd>
                </dl>
            </div>

        </div>
    </div>
</div>


@if (Model.AlumnoCurso.Count > 0)
{
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header">Cursos</div>
                <div class="card-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Curso</th>
                                <th style="width:60px">Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model.AlumnoCurso)
                            {
                                <tr>
                                    <td>@c.Curso.Nombre</td>
                                    <td>@c.Nota</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>No hay cursos Asignados a este Alumno</p>
}



